<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>PUBLIC AUDITING</title>
    <!-- font icons -->
    <link rel="stylesheet" href="/static/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Meyawo main styles -->
	<link rel="stylesheet" href="/static/css/meyawo.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

  <!-- Page Navbar -->
  <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="logo" href="#">Public Auditing</a>         
        <ul class="nav">
            <li class="item">
                <a class="link" href="/">Home</a>
            </li>
            <li class="item">
                <a class="link" href="{{url_for('viewrequest')}}">View Owners</a>
            </li>
            <li class="item">
                <a class="link" href="{{url_for('cloudviewfile')}}">View all files</a>
            </li>
            <li class="item">
                <a class="link" href="{{url_for('cloudviewfile')}}">View User Request</a>
            </li>
            <li class="item">
                <a class="link" href="/">Logout</a>
            </li>
        </ul>
        <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
        </a>
    </div>          
</nav><!-- End of Page Navbar -->

<center>
	<b><h2 style="color:black">VIEW File Data</h2></b></center><br>

<center>
<table style="border: 4px solid black;background-color:black !important" width="400">

						<tr>



							<b><th style="color:white;border: 3px solid white">File Data</th></b>



						</tr>

						{% for r in row_val %}
					<tr>
						{% for v in r %}
						<b><td style="color:white; border: 2px solid white"></b>
							{{v}}


						{% endfor %}

					</tr>
						{% endfor %}

					</table>
	<br>

</center><center><a href="{{url_for('viewallfile')}}">Go Back</a></center>
    </div>


            </div>
          </div>
        </div>


  
	<!-- core  -->
    <script src="/static/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/static/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="/static/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Meyawo js -->
    <script src="/static/js/meyawo.js"></script>

</body>
</html>